body {
    padding: 50px;
}
table {
    padding: 5pt;
    width: 55%;
    border-collapse: collapse;
    border-top: 30px solid;
    border-bottom: 25px solid ;
    border-left: 15pt solid;
    border-right: 15pt solid;
    border-color: aqua;

}
td, th {
    padding: 20px;

}
th{
    font-family: 'Patua One';
    font-size:30px;
    font-weight:400;
    color:#fff;
    text-align:center;
    padding:20px;
    background-color: #d61b06;
    border-color: blue;
}
td{
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    color:#5f6062;
    font-size:13px;
    padding:20px ;

    text-align: center;
    vertical-align: top;
}

.btn {background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%)}
.btn {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}